.flex-wrap-about{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.cont-wrap {
    padding: 15px;
    width: fit-content;
    height: fit-content;
    text-overflow: ellipsis;
    border: 1px solid #252525;
    border-radius: 5px;
    display: flex;
    gap: 15px; /* Ajusta el espacio entre la imagen y el texto si es necesario */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    justify-content: start;
}

.title-sub-title {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea el contenido en el centro verticalmente */
}

.cont-wrap img {
    width: 30px;
    height: 30px;
    /* Puedes ajustar el tamaño de la imagen según sea necesario */
}

.cont-title {
    font-size: 1.5rem;
    color: white;
    margin: 0; /* Asegúrate de que no haya márgenes que desalineen el texto */
}

.cont-body {
    font-size: 0.9rem;
    color: #252525;
    margin: 0; /* Asegúrate de que no haya márgenes que desalineen el texto */
}

@media (max-width: 768px) {
    .cont-title{
        font-size: 0.6rem;
        color: white;
    }
    
    .cont-body{
        font-size: 0.6rem;
        color: #252525;
    }

    .cont-wrap{
        padding: 10px;
    }
}
