.flex-wrap-about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.cont-wrap {
    padding: 20px;
    width: 100%;
    height: fit-content;
    text-overflow: ellipsis;
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: start;
    background-color: #101010;
    border-radius: 5px;
}

.title-sub-title {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    gap: 5px;
}

.cont-wrap img {
    width: 20px;
    height: 20px;
}

.cont-title {
    font-size: 1.2rem;
    color: white;
}

.cont-body {
    font-size: 1rem;
    color: #4a4a4a;
}

@media (max-width: 768px) {
    .cont-title{
        font-size: 1rem;
        color: white;
    }
    
    .cont-body{
        font-size: 0.8rem;
    }

    .cont-wrap{
        padding: 10px;
    }
}

@media (max-width: 410px) {
    .cont-wrap img {
        width: 10px;
        height: 10px;
    }
}
