::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background-color: #ab51ff;
    border-radius: 20px;
    border: 3px solid #101010;
}

/* Estilo para Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #ab51ff #101010;
}

main{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #050505;
    padding: 20px 200px 20px 240px;
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.href-site a{
    color: #ba8fff;
}

.href-site2 a{
    color: #cdfe77;
}

.href-map a{
    color: #8fffd0;
}

header{
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 40px;
    align-items: center;
    justify-content: start;
}

.img{
    background-image: url('../../public/img-profile.jpeg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.img-mobile{
    background-image: url('../../public/img-profile.jpeg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    
}

.tags{
    display: flex;
    gap: 10px;
}

.tag{
    font-size: 0.8rem;
    color: #ffffff;
    border: 1px solid #3a3a3a;
    border-radius: 100px;
    padding: 5px 20px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.title{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 500;
}

.sub-title{
    font-size: 1.7rem;
    color: #3a3a3a;
    margin-top: 10px;
}

.divisor{
    margin-top: 30px;
    width: 50px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 50px;
    margin-bottom: 15px;
}

.buttons-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.button-about{
    color: #ffffff;
    border: 1px solid #3a3a3a;
    border-radius: 100px;
    padding: 6px 35px;
    width: fit-content;
    display: flex;
    align-items: center;
    
}

.button-contact{
    color: #000000;
    background-color: #ba8fff;
    font-weight: 500;
    border-radius: 100px;
    padding: 6px 35px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.button-about, .button-contact{
    cursor: pointer;
}

@media (max-width: 1024px) {
    main{
        padding: 10px 10px 10px 90px;
    }
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
    }

    .tag{
        font-size: 0.5rem;
        padding: 3px 15px;
    }

    .title{
        font-size: 2rem;
    }

    .sub-title{
        font-size: 1rem;
    }

    .button-about, .button-contact{
        font-size: 0.8rem;
        padding: 7px 20px;
    }

    .button-about{
        border: 2px solid #252525;
    }
}

@media (max-width: 410px) {
    .tags{
        flex-direction: column;
    }

    .divisor{
        margin-top: 15px;
        width: 40px;
        height: 7px;
        background-color: #0a0a0a;
        border-radius: 50px;
        margin-bottom: 5px;
    }

    .title{
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .sub-title{
        font-size: 0.7rem;
    }
}

@media (max-width: 360px) {
    .buttons-header{
        flex-direction: column;
    }

    .button-about, .button-contact{
        width: 100%;
    }
}