/*color purple: #FFD5FD */

nav{
    width: fit-content;
    padding: 10px;
    height: 100%;
    background-color: #050505;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    left: 0px;
    flex-direction: column;
    border-right: 1px solid #0f0f0f;
}

ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

li{
    width: 100%;
    list-style: none;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #8f8f8f;
    display: flex;
    align-items: center;
    gap: 15px;
}

li:hover{
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.button-cv{
    background-color: #050505;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #1a1a1a;
    display: flex;
    align-items: center;
    gap: 15px;
    
}

a{
    text-decoration: none;
}

.button-cv:hover{
    background-color: #1a1a1a;
    transition: 0.1s;
}

li img, .button-cv img{
    width: 1.1rem;
}

@media (max-width: 1024px) {
    li p, .button-cv p{
        display: none;
    }

    li, .button-cv{
        padding: 20px;
    }
}